.heroBtn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 21px 30px;
  border-radius: 4px;
  transition: var(--timing-duration);
}

.caption,
.iconWrapper {
  color: var(--white-color);
  z-index: 5;
}

.heroBtn:before,
.heroBtn:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 99px;
  transition: var(--timing-duration);
}

.heroBtn:before {
  transform: scaleY(0);
  background-color: var(--title-color);
  color: var(--white-color);
}

.heroBtn:after {
  background-color: var(--title-color);
  color: var(--white-color);
  transform: scaleX(0);
}

.heroBtn:hover:before,
.heroBtn:hover:after {
  transform: scale(1);
  border-radius: 0px;
}

@media (max-width: 639px) {
  .heroBtn {
    font-size: 12px;
    padding: 12px 16px;
  }
}