.fixedMenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  animation: mobileMenuSticky 0.95s ease forwards;
}

@keyframes mobileMenuSticky {	
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.mobileMenuWrapper {
  width: 100%;
  max-width: 320px;
  background-color: var(--white-color);
  height: 100%;
  position: relative;
  transition: all ease 1s;
  z-index: 100;
  border-right: 3px solid var(--primary-color);
}
.mobileLogo {
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  text-align: center;
  background-color: var(--primary-color);
}
.logo {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}


