@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans:wght@400;700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext&effect=fire-animation|neon|outline'); */

:root {
  --primary-color: #c28565;
	--primary-text-color: #6e6e6e;
	--secondary-text-color: #2e2e2e;
	--title-color: #0d0d0d;
	--white-color: #ffffff;
  --primary-bg-color: #f9f3f0;

  /* timig*/
  --animation-duration: 7s linear infinite;
  --timing-duration:all 400ms ease-in-out;
}

body {
  color: var(--secondary-text-color);
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  background-size: 200px;
  background-color: var(--primary-bg-color);
  min-height: 100vh;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}
img{
  border-radius: 10px;
}

a {
  text-decoration: none;
  transition: all ease 0.4s;
}
a:hover {
  color: var(--primary-color);
}

header svg {
  color: var(--primary-color);
  width: 46px;
  height: 46px;
  line-height: 46px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: var(--timing-duration);
  transition: var(--timing-duration);
  padding: 6px;
}
header svg:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

footer svg {
  background-color: var(--primary-color);
  width: 32px;
  height: 32px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  text-align: center;
  -webkit-transition: var(--timing-duration);
  transition: var(--timing-duration);
  padding: 6px;
}
footer svg:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  color: var(--white-color);
  padding: 20px 0px;
}

footer {
  display: block;
  text-align: center;
}

.not-found {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
}

.not-found a {
  color: #0d00ff;
  text-decoration: underline;
}
