.bgHair {
  background-image: url('../../../../public/haircut_woman_1.png');
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  position: relative;
}

.haircutSection {
  display: flex;
  flex-flow: row-reverse;
}

.hairCutBlock {
  padding: 100px 15px;
}

.scissors {
  display: inline-block;
  margin-right: 10px;
}

.hairTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.haircutTitle {
  color: var(--title-color);
  font-size: 34px;
  line-height: 44px;
  text-transform: capitalize;
  text-align: center;
}

.haircutItem {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  fill: var(--primary-color);
  transition: var(--timing-duration);
}

.haircutItem:last-child {
  margin-bottom: 0;
}

.iconWrapper {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: #f2e3dc;
  transition: var(--timing-duration);
}

.haircutItem:hover .iconWrapper {
  transform: rotateY(180deg);
}

.hairText {
  font-size: 24px;
}

.ourHaircuts {
  background-image: url('../../../../public/service_shape.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 100px 0px;
  -webkit-transition: var(--timing-duration);
  transition: var(--timing-duration);
  z-index: 2;
}

.flowerImg {
  position: absolute;
  top: 0;
  right: 0;
}

.dyeingBlock {
  display: flex;
  justify-content: space-between;
}

.dyeingIcon {
  fill: var(--primary-color);
  margin-right: 8px;
  transition: var(--timing-duration);
}

.hairTitle:hover .dyeingIcon {
  transform: rotateY(180deg);
}

.hairItem {
  display: flex;
  fill: var(--primary-color);
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  transition: var(--timing-duration);
}

.hairItem:hover .iconHairWrapper {
  transform: rotateY(180deg);
}

.iconHairWrapper {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: #f2e3dc;
  transition: var(--timing-duration);
}

.hairItem:last-child {
  margin-bottom: 0;
}

.hairStyleImg {
  width: 50%;
}

.shapeFlower {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.shapeFlower {
  -webkit-animation: slidein var(--animation-duration);
  animation: slidein var(--animation-duration);
}

@keyframes slidein {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1023px) {
  .bgHair {
    background-color: var(--white-color);
    background-image: none;
  }

  .hairCutBlock,
  .ourHaircuts {
    padding: 60px 12px;
    width: 100%;
  }
  
  .hairImg {
    margin-bottom: 30px;
  }

  .imageWrapper {
    margin-bottom: 30px;
  }
  .imageWrapper img {
    margin-left: auto;
    margin-right: auto;
  }

  .hairSubTitle {
    padding-bottom: 16px;
    color: var(--primary-color);
  }

  .hairText {
    text-align: center;
  }

  .hairStyleImg,
  .shapeFlower,
  .iconWrapper {
    display: none;
  }

  .haircutItem {
    display: block;
  }

  .hairItem {
    margin-bottom: 5px;
  }
}

@media (max-width: 639px) {
  .haircutTitle {
    font-size: 28px;
    line-height: 1.5;
  }

  .hairText {
    font-size: 19px;
    text-align: start;
  }

  .iconHairWrapper {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {

  .imageWrapper,
  .hairImg {
    display: none;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .bgHair {
    background-size: cover;
    background-position: center center;
  }

  .shapeFlower {
    bottom: 20%;
    right: 20%;
  }
}


@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .shapeFlower {
    bottom: 5%;
    right: 20%;
  }
}