.nailBg {
  background-image: url('../../../../public/girl_manikure.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  padding: 238px 0px;
}

.heroTitle {
  font-size: 60px;
  line-height: 1.2;
  color: var(--title-color);
  ;
  margin-bottom: 60px;
}

.nailBlockBg {
  background-image: url('../../../../public/nails_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nailList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: scroll 40s linear infinite;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.nailItem {
  width: 350px;
}

.nailItem:hover .overlay {
  transform: translateY(0%);
}

.nailItem:hover {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlayBlock {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 40px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-image: url('../../../../public/nails_bg_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: var(--timing-duration);
  overflow: auto;
}

.overlayBlock:hover .overlay {
  transform: translateY(0%);
}

.nailWorkBlock {
  background-color: var(--white-color);
  padding: 120px 0px;
}

.nailWorkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  cursor: pointer;
  transition: var(--timing-duration);
}

.nailWorkItem {
  transition: var(--timing-duration);
}

.nailWorkItem:hover {
  scale: 1.1;
}

.nailWorkItem img {
  max-width: 230px;
  width: 230px;
  max-height: 229px;
  height: 229px;
}

.galleryTitle {
  font-size: 48px;
  line-height: 44px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 60px;

}

.naiButtonWrapper {
  display: flex;
  justify-content: center;
}

.nailItemTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nailItemTitle {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ab6a49;
  text-align: center;
  margin-right: 8px;
}

.nailTitle {
  font-size: 48px;
  line-height: 44px;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.nailServices {
  padding: 120px 0px;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
}

.flowerImgShape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: jump var(--animation-duration);
  animation: jump var(--animation-duration);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0);
  }
}

.nailTitleBlock {
  padding: 120px 30px;
  display: flex;
  justify-content: flex-end;
}

.nailTextBlock {
  width: 720px;
}

.title {
  font-size: 48px;
  line-height: 1.2;
  color: var(--title-color);
  margin-bottom: 30px;
  text-align: center;
}

.nailText {
  font-size: 24px;
  color: var(--primary-text-color);
  text-align: justify;
}

.naillItem {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.naillItemText {
  font-size: 20px;
}

.nailIcon {
  fill: var(--primary-color);
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
  transition: var(--timing-duration);
}

.naillItem:hover .nailIcon {
  transform: rotateY(180deg);
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .nailBg {
    padding: 120px 0px;
  }

  .heroTitle {
    font-size: 32px;
    line-height: 1.7;
  }

  .heroTitleWrapper {
    width: 300px;
  }

  .nailTitle,
  .title,
  .galleryTitle {
    font-size: 32px;
    line-height: 1.7;
  }

  .nailText {
    font-size: 18px;
  }

  .naillItemText {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .nailList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nailWorkList {
    grid-template-columns: repeat(2, 1fr);
  }

  .nailWorkItem {
    object-fit: contain;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media (max-width: 639px) {
  .nailBg {
    padding: 100px 0px 60px 0px;
  }

  .heroTitle {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
  }

  .heroTitleWrapper {
    width: 150px;
  }

  .nailTitle,
  .title,
  .galleryTitle {
    font-size: 28px;
    line-height: 1.5;
  }

  .nailText {
    font-size: 16px;
    text-align: start;
  }

  .naillItemText {
    font-size: 14px;
  }

  .nailIcon {
    margin-right: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nailBg {
    padding: 150px 0px;
  }

  .heroTitleWrapper {
    width: 400px;
  }

  .heroTitle {
    font-size: 34px;
    line-height: 1.7;
    text-align: center;
  }

  .nailList {
    grid-template-columns: repeat(2, 1fr);
  }

  .nailWorkList {
    grid-template-columns: repeat(3, 1fr);
  }

  .nailBlockBg {
    background-image: url('../../../../public/nails_bg_4.jpg');
    background-size: cover;
    background-position: center center;
    background-color: var(--primary-bg-color);
  }
}

@media (max-width: 1023px) {

  .nailServices,
  .nailTitleBlock,
  .nailWorkBlock {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .nailTitle,
  .title,
  .galleryTitle {
    font-size: 34px;
    line-height: 1.7;
  }

  .nailText {
    font-size: 20px;
  }

  .naillItemText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .nailBg {
    padding: 180px 0px;
  }

  .heroTitleWrapper {
    width: 500px;
  }

  .heroTitle {
    font-size: 46px;
    text-align: center;
  }

  .nailTitle,
  .title,
  .galleryTitle {
    font-size: 36px;
  }

  .nailText {
    font-size: 22px;
  }

  .nailList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .heroTitleWrapper {
    width: 600px;
  }

  .heroTitle {
    font-size: 56px;
    text-align: center;
  }

  .nailList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1535px) {
  .nailWorkList {
    grid-template-columns: repeat(4, 1fr);
  }
}